foreach $video do
 <div width="@width" height="@height" style="margin-right:20px; margin-bottom:20px;" >		
 			<object class="draggable_images" width="@width" height="@height" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
			<param name="src" value="@url">
			<param name="autoplay" value="true">
			<param name="controller" value="true">
			<embed src="@url" width="@width" height="@height" autoplay="true" controller="true" loop="true" pluginspage="http://www.apple.com/quicktime/download/"></embed>
		</object>
        
	</div>
endforeach