foreach $root do
  if $children do
    foreach $children do
    		<div class="entry"  onclick="location.href='@url';">
		<div class="description"><p style="vertical-align:middle"><span style="background-color:#FEFEFE;">@description</span></p>
		</div >
        <div class="category">@keywords / @date / @title </div>
	</div>
    <div class="thumb_on_index" style="visibility:hidden;position:absolute;z-index:0;"> <img src="@thumb" width="@thumb_width"/></div>
 
    endforeach
  endif
endforeach


<!-- onMouseover="this.style.background = 'url(@thumb) 25% 50%'" onmouseout="this.style.background = 'none'" -->