/* basic */

* {
	margin: 0;
	padding: 0;
}

body, html {
    margin: 10px;
    padding: 10px;
}

p {

    margin-bottom: 18px;

}

body {
	background-image:url(./public/images/grid-bg.gif);
    background: #ffffff;
	background-position: 30px 20px;
    color: #414141;
    height: 100%;
    width: 100%;
    font-family:  'Inconsolata', Monaco, "Lucida Console", monospace;
    font-size: 13px;
    line-height: 18px;
	orphans: 3;
	/*overflow-x: scroll;*/
	overflow-x: hidden; /*test*/
	overflow-y: auto;
}

a { 
background:#EEE;
text-decoration:none;
cursor:pointer;
color:#414141;

}

a:hover {
	background:#000;
	color:#fff;
}


/*Mine*/

	
	.description {
	font-size:24px;
	font-family: 'inconsolata';
	font-style:italic;
	line-height:36px;
	min-height:150px;
	vertical-align:middle;
	padding-left:5px;
	padding-right:30%;
	}
	
	.description p{
		margin-bottom:0px;
	}
	
	.category {
	color:#999;
	font-size:13px;
	line-height:18px;
	text-align:left;
	word-spacing:-1.5px;
	border-top:dashed;
	border-top-width:1px;
	border-top-color:#000;
	padding-top:3px;
}
.category_2 {
	color:#999;
	font-size:13px;
	line-height:18px;
	text-align:left;
	word-spacing:-1.5px;
}
#footer_container{
position:fixed;
	bottom: 5px;
	z-index:100;
}

#footer_container .footer{
	width:210px;
	margin-right:20px;
	background-color:#fff;
	display:inline-block;
}

/* Menu / Navigation
***********************************************************************************************************/
#menu_container {
		overflow: hidden;
 width:95%;	
 background:#fff;
	height:100px;
	position: fixed;
	z-index:200;
	min-width:900px;

}
#menu_container .menu {
	width:210px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	line-height: 27px;

	}
#menu_container .menu a{
	text-decoration:none;  
	color:#414141;
	font-size:13px; 
	background:#fff;
}
#menu_container .menu a:hover{
	cursor:crosshair;
	text-decoration:none; 
	color:#fff;
	background:#000 !important;
}

#menu_container .blank {
	letter-spacing:-6px;
	background:#fff;
	margin:2px;}
	
	
	/* Body Columns
***********************************************************************************************************/
#entry_container {
	width:95%; 
	position:absolute;
	top:160px;
	min-width:900px;
}

#entry_container .entry {
	vertical-align: top;
	display: inline-block;
	margin-right:20px;
	margin-bottom:10px;
	border-top:dashed;
	border-top-width:1px;
	line-height:1.5;
	width:210px;
	z-index:100;}

#entry_container .entry:hover {
	cursor:e-resize;
}

#entry_container .content {
}

/* Single Page display
***********************************************************************************************************/


.single_entry_title {
	top:120px;
	background-color:#fff;
	position:relative;
	padding:5 px;
	padding-top:10px;
	margin-right: 20px;
	border-top:dashed;
	border-top-width:1px;
	width:210px;
	display:inline-block;
	vertical-align:top;
	z-index:100;}
	
.single_entry {
	vertical-align:top;
	top:120px;
	overflow-y: auto;
	position:relative;
	display:inline-block;
	width:440px;
	padding-top:10px;
	margin-right: 20px;
	z-index: 1;
	border-top:dashed;
	border-top-width:1px;
	font-style:normal;
	line-height:18px;
}

/* Draggable images
***********************************************************************************************************/
.sort-button {
	visibility:hidden;
}
	
.draggable {
	cursor:move;
	display: inline-block;
	position:absolute;
}

.draggable img{

}

#draggable_container {
	top:180px !important;
    width: 1100px;
	height: 600px;
	position:absolute;
	}

/* for detailed page ****************************/
#draggable_container_2 {
	position:absolute;
	top:160px !important;
	left:280px;
    width: 90%;
	heigh: 800px;
}

.draggable_2 {
	height:auto;
	margin-right:20px;
	margin-bottom: 20px;
	cursor:move;
	display:inline-block;
	vertical-align:top;
	}
.draggable_2:hover {
	z-index:100;
	}

.draggable_images{
	display:inline-block;
	position:relative;
	}