/* basic */

* {
	margin: 0;
	padding: 0;
}

body, html {
    margin: 10px;
    padding: 10px;
	width: 100%;
	height: 100%;
}

body {
    background: #ffffff;
    color: #414141;
    height: 100%;
    width: 100%;
    font-family:  'Inconsolata', Monaco, "Lucida Console", monospace;
    font-size: 13px;
    line-height: 1.2;
	orphans: 3;
	/*overflow-x: scroll;*/
	overflow-x: hidden; /*test*/
	overflow-y: auto;
}

a { 
background:#EEE;
text-decoration:none;
cursor:pointer;
color:#414141;
}

a:hover {
	background:#000;
	color:#fff;
}

/* stacey */


/*Mine*/

	
	.description {
	font-size:20px;
	text-align:center !important;
	font-family: 'inconsolata';
	font-style:italic;
	line-height:32px;
	word-spacing:-1px;
	padding:10px;	
	min-height:130px;
	vertical-align:middle;
	z-index:1;
	}
.category {
	color:#999;
	font-size:13px;
	text-align:left;
	border-top:dashed;
	border-top-width:1px;
	border-top-color:#000;
	margin:3px;
	padding:5px;
}

.footer{
position: fixed;
bottom: 5px;
}

/* Menu / Navigation
***********************************************************************************************************/
#menu_container {
		overflow: hidden;
 width:95%;	
 background:#fff;
	height:100px;
	padding-top:10px;
	position: fixed;
	z-index:100;
	min-width:900px;

}
#menu_container .menu {
	width:200px;
	float:left;
	padding:5 px;
	margin-right: 25px;
		line-height:2;
	

	}
#menu_container .menu a{
	text-decoration:none;  
	color:#414141;
	font-size:13px; 
	background:#fff;
}
#menu_container .menu a:hover{
	cursor:crosshair;
	text-decoration:none; 
	color:#fff;
	background:#000 !important;
}

#menu_container .blank {
	letter-spacing:-6px;
	background:#fff;
	margin:2px;}
	
	
	/* Body Columns
***********************************************************************************************************/
.entry_container {
	width:90%; 
	position:absolute;
	top:180px;
	min-width:900px;
}

.entry {
	vertical-align: top;
	position:relative;
	display: inline-block;
	padding:5 px;
	padding-top:5px;
	margin-top:5px;
	margin-bottom:0px;
	border-top:dashed;
	border-top-width:1px;
	line-height:1.5;
	width:200px;}

.entry:hover {
	cursor:e-resize;
}

.content {
	padding:5px;
	clear:both;
}

/* Single Page display
***********************************************************************************************************/


.single_entry_title {
	top:150px;
	position:relative;
	float:left;
	padding:5 px;
	padding-top:10px;
	margin-right: 25px;
	z-index: 1;
	border-top:dashed;
	border-top-width:1px;
	font-style:normal;
	line-height:1.5;
	width:200px;

	background-color:#FFF;
}
.single_entry {
	top:150px;
	overflow-y: auto;
	position:relative;
	float:left;
	width:420px;
	padding:5 px;
	padding-top:10px;
	padding-right:5px;
	margin-right: 25px;
	z-index: 1;
	border-top:dashed;
	border-top-width:1px;
	font-style:normal;
	line-height:1.5;
}

/* Draggable images
***********************************************************************************************************/

	
.draggable {
	position:absolute;
}

.draggable img{
	width:500px;
	height:auto;
	z-index:0;
}

#draggable_container {
	top:180px;
    width: 900px;
	height: 500px;
}

/* for detailed page ****************************/
#draggable_container_2 {
	position:absolute;
	top:190px !important;
	left:265px;
    width: 90%;
	height: 500px;
}

.draggable_2 {
	max-width:800px;
	width:425px !important;
	margin-right:20px;
	vertical-align:top;
	display:inline-block;
}
.draggable_2 img{
	width:100%;
	}


