/* basic */

* {
	margin: 0;
	padding: 0;

}


p {

    margin-bottom: 18px;

}
  
  @font-face {
  font-family: 'Inconsolata';
  src: url('./inconsolata.otf');
  src: local('☺'),
         url('./inconsolata.woff') format('woff'), url('./inconsolata.otf') format('opentype');
}

body {
    background: #ffffff;
    color: #414141;
    width: 80%;
	padding:40px;
    font-family:  'Inconsolata', 'Lekton', Monaco, 'Lucida Console', monospace;
    font-size: 13px;
    line-height: 18px;
	orphans: 3;
}

a { 
background:#EEE;
text-decoration:none;
cursor:pointer;
color:#414141;

}

a:hover {
	background:#000;
	color:#fff;
}


/*Mine*/

	
	.description {
	font-size:26px;
	font-family: 'inconsolata', 'Leckon';
	font-style:oblique;
	line-height:36px;
	vertical-align:middle;
	padding-bottom:3%;
	padding-left:3px;
	padding-right:30%;
	min-height:140px;
	}
	
	.description p{
		margin-bottom:0px;
	}
	
	.category {

	color:#999;
	font-size:13px;
	line-height:18px;
	text-align:left;
	word-spacing:-1.5px;
	border-top:dashed;
	border-top-width:1px;
	border-top-color:#000;
	padding-top:3px;
}
.category_2 {
	color:#999;
	font-size:13px;
	line-height:18px;
	text-align:left;
	word-spacing:-1.5px;
}
#footer_container{
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);

position:fixed;
top:50%;
	right:-30px;	z-index:200;
}

#footer_container .footer{
	
	text-align:center;
}

/* Menu / Navigation
***********************************************************************************************************/
#menu_container {
		overflow: hidden;
 width:95%;	
 background:#fff;
	height:100px;
	position: fixed;
	z-index:200;
	min-width:900px;

}
#menu_container .menu {
	width:210px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	line-height: 27px;

	}
#menu_container .menu a{
	text-decoration:none;  
	color:#414141;
	font-size:13px; 
	background:#fff;
}
#menu_container .menu a:hover{
	cursor:crosshair;
	text-decoration:none; 
	color:#fff;
	background:#000 !important;
}

#menu_container .blank {
	letter-spacing:-6px;
	background:#fff;
	margin:2px;}
	
	
	/* Body Columns
***********************************************************************************************************/
#entry_container {
	width:95%; 
	position:absolute;
	top:160px;
	min-width:900px;
}

#entry_container .entry {
	vertical-align: top;
	display:inline-table;
	margin-right:20px;
	margin-bottom:20px;
	border-top:dashed;
	border-width:1.5px;
	line-height:1.5;
	width:210px;
	z-index:100;}

#entry_container .entry:hover {
	cursor:e-resize;
}

#entry_container .content {
}

/* Single Page display
***********************************************************************************************************/


.single_entry_title {
	top:120px;
	background-color:#fff;
	position:relative;
	padding:5 px;
	padding-top:10px;
	margin-right: 20px;
	border-top:dashed;
	border-top-width:1px;
	width:210px;
	display:inline-block;
	vertical-align:top;
	z-index:100;}
	
.single_entry {
	vertical-align:top;
	top:120px;
	overflow-y: auto;
	position:relative;
	display:inline-block;
	width:440px;
	padding-top:10px;
	margin-right: 20px;
	z-index: 1;
	border-top:dashed;
	border-top-width:1px;
	font-style:normal;
	line-height:18px;
}

/* Draggable images
***********************************************************************************************************/
.sort-button {
	visibility:hidden;
}
	
.draggable {
	display: inline-block;
	position:absolute;
	z-index:1;
}

.draggable img{

}

#draggable_container {
	top:180px !important;
    width: 1100px;
	height: 600px;
	position:absolute;
	}

/* for detailed page ****************************/
.draggable_container_2 {
	position:absolute;
	top:160px !important;
	left:280px;
	width:80%;
}

.draggable_2 {
	float:left;
	margin-right:20px;
	margin-bottom: 20px;
	vertical-align:top;
	position:relative;
	}
	.draggable_2 img{
		
	}


.draggable_images{
	width:auto;
	height:auto;	

	}
	
	  #store {  position: absolute; visibility:hidden; }


.thumb{
	position:absolute;
	z-index:100;}