<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>In-ah Shin &lt;hello.inah@gmail.com&gt;</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
        <link href='http://fonts.googleapis.com/css?family=Lekton:regular,italic,bold' rel='stylesheet' type='text/css'>

          <script>$(document).ready(function(){
		$(document).ready(function(){
$('#text_button').change(function () {
		   window.location = "/";

        });
	$('#image_button').change(function () {
		    window.location = "./?/Image_index/";

        });});});
		  </script>
<link href='http://fonts.googleapis.com/css?family=Inconsolata|Inconsolata:italic' rel='stylesheet' type='text/css'>
	
     <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23959091-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
	<body>
<!--memu start-->

			  <div id="menu_container">
              <div class="menu"><strong>
<a href="mailto:hello.inah@gmail.com">@name</a></strong><br />
@profession<br /></div>


<div class="menu">
  
  <p> <a id="text_button_a" onClick="document.getElementById('text_button').checked='checked'" href="/">
    <input id="text_button" name="navigation" type="radio" onClick="window.location='/'" value="text_navigation">
    t
    <font class="blank"> </font>
    e
    <font class="blank"> </font>
    x<font class="blank"> </font>
    t</a>
    <br />
    <a id="image_button_a" onClick="document.getElementById('image_button').checked='checked'" href="./?/Image_index/">
      <input id="image_button" name="navigation" type="radio" onClick="window.location='./?/Image_index/'" value="image_navigation"/>
      i<font class="blank"> </font>m<font class="blank"> </font>a<font class="blank"> </font>g<font class="blank"> </font>e
      </a> <br /> 
  </p>
</div>
  <div class="menu">
<a href="./?/more/">&rarr; a<font class="blank"> </font>b<font class="blank"> </font>o<font class="blank"> </font>u<font class="blank"> </font>t</a>
<br>     <a href="http://inah-shin.com/content/Inahshin_pdf.pdf" target="_blank"> &darr; p<font class="blank"> </font>d<font class="blank"> </font>f </a> </div>




 </div>
 
 <!--menu ends-->

 :html
		
		 <div id="footer_container">
        <div class="footer">
           &copy; Copyright_In-ah Shin_@current_year<br />
  & Content managed by_<a href="http://www.staceyapp.com" target="_blank">Stacey</a>	 </div>
   </div>  	   
	</body>
</html>