<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@title, In-ah Shin +61 406 92 1117 hello.inah@gmail.com</title>
		<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
		<link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
          
<link href='http://fonts.googleapis.com/css?family=Inconsolata|Inconsolata:italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<div id="menu_container">
              <div class="menu"><strong>
<a href="mailto:hello.inah@gmail.com">@name</a></strong><br />
@profession<br /></div>
<div class="menu">
  
  <p> <a href="./">
    <input name="navigation" type="radio" value="text_navigation" /> 
    t
    <font class="blank"> </font>
    e
    <font class="blank"> </font>
    x<font class="blank"> </font>
    t</a>
    <br />
    <a href="./">
      <input name="navigation" type="radio" value="image_navigation" onclick="" />
      i<font class="blank"> </font>m<font class="blank"> </font>a<font class="blank"> </font>g<font class="blank"> </font>e
      </a>
  </p>
</div>
  <div class="menu">
:pages<br>
<a href="./content/pdf_ver.pdf" target="_blank"> &darr; p d f
</a>
</div>


<div class="menu"><input name="search" type="text"/><button type="submit"> Search</button>
</div>

 </div>
 
 <div class="single_entry_title">
 @content_1

</div>

<div class="single_entry">
          :images
          @content_2
          :pdfs
			</div>
		
			   
		</div>
	</body>
</html>